
    *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
     }
    div.mainbox{
     background-color: black;
      width: 80%;
      margin: 0 auto;
    }
    header{
      background-color: rgb(64, 5, 116);
    }
    .main img{
      width: 100%;
    }
    #main{
      text-align: center;
    }
    
    .slideshow{
      text-align: center;
    } 
    .cycle-slideshow img{
      width: 95%;
    } 
    .center
    a:hover {
      color:  blue;
    }
    .center{
      padding-top: 3%;
    }
    div.landscapes{
      width: 50%;
    }
    div.artwork{
      width: 45%;
    }
    div.flowers{
      width: 45%;
      height: 50%;
    }
    div.graphics{
      width: 45%;
    }
    main img{
      width: 100%;
    }
    main{
     width: 80%;
     margin: 0 auto;

    }           
    section_one img{
      width: 100%;
    }
    section_one{
     display: flex;
     justify-content: space-evenly;
     padding-bottom: 3%;
     padding-top: 3%;
     text-align: center;
    }
    .landscapes
    a:hover {
      color:  blue;
      text-align: center;
    }
    .graphics
    a:hover{
      color:  blue;
    }
    section_two img{
      width: 100%;
    }

    section_two{
     display: flex;
     justify-content: space-evenly;
     border-top: 10% black;
     padding-bottom: 2%;
     text-align: center;
    }
    .artwork
    a:hover{
      color:  blue;
    }
    .flowers
    a:hover{
      color:  blue;
    }
    ul{
      text-align: center;
      padding: 1%;
      padding-bottom: 2%;
    }
    li{
      display: inline-block;
      width: 150px;
      border: 2px solid black;
      line-height: 3em;
      font-family: Arial, Helvetica, sans-serif;
      padding: 1%;
    }
    ul li a:hover{
      color: blue;

    }
    a{
      color: rgb(189, 169, 10);
      text-decoration: none;       
      font-family: Arial, Helvetica, sans-serif;
      font-size: larger;
      text-align: center;
      border: 5%;
      display: inline-block;
    }
    h1{
      text-align: center;
      color: rgb(192, 200, 207);
      padding-top: 1%;
    }
    h2{
      text-align: center;
      color: rgb(240, 214, 16);
      padding: 1%;
    }
    h3{
      text-align: center;
      color: rgb(244, 243, 239);
      padding: 1%;
    }
  
    footer{
      color: rgb(244, 243, 239);
      padding: 5%;
    }
    /*MEDIA QUERY*/


    @media screen and (min-width: 100px) and (max-width: 500px){

      a{
        color: rgb(237, 244, 207);
      }
     
      nav{
        font-size: .75em;
        width: 70%;
        margin: 0 auto;
      }
      nav ul{
        margin: 0; 
        padding: 0;
      }
      nav li{
        list-style-type: none;
        width: 100%;
        text-align: center;
      }
      nav a{
        font-size: 1em;

      }
      .landscapes{
      font-size: .5em;
      }
      .graphics{
        font-size: .5em;
        }
      .artwork{
        font-size: .5em;
        }
      .flowers{
        font-size: .5em;
        }
      .center{
        font-size: .5em;
      
        }
      .slideshow{
        margin-left: 15%;
        margin-right: 15%;
    }
    h1{
      font-size: 1.25em;
    }
    h2{
      font-size: small;
    }
    
  }

  @media screen and (min-width:501px) and (max-width:800px){
    header h1{
      padding:.1em;
      text-align:center;
    }
    nav{ 
      font-size: .75em;
      width:50%;
      height: 10%;
      margin:0 auto;
    }
    nav ul{
      margin:0;
    
    }
    nav li{
      background-color: #135981;
      border-radius:2em;
      list-style-type:none;
      width:100%;
      margin: .75em;
    
    }
  nav a{ 
    padding:.3em;
    display:inline-block;
    width:100%;
  }
    }
  
    @media screen and (min-width: 801px) and (max-width: 1000px){
      nav{
        font-size: .75em;
        width: 70%;
        margin: 0 auto;
      }
      nav ul{
        margin: 0; 
        padding: 0;
      }
      nav li{
        list-style-type: none;
        width: 100%;
        text-align: center;
      }
      nav a{
        font-size: 1.5em;
      }
      .landscapes{
      font-size: .75em;
      }
      .graphics{
        font-size: .75em;
        }
      .artwork{
        font-size: .75em;
        }
      .flowers{
        font-size: .75em;
        }
      .center{
        font-size: .75em;
        }
      .slideshow{
        margin-left: 15%;
        margin-right: 15%;
    }

    